<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>AdvenTour - Trang quản lý du lịch</title>
    <style>

        .custom-file-upload {
            height: 100px;
            display: block;
            width: 10%;
            padding: 20px;
            font-size: 16px;
            background-color: #f0f0f0;
            border: 2px dashed #ddd;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            background-image: url('/compiled/jpg/Profile Photo.jpg');
            background-size: cover;
            background-position: center;
        }

        .custom-file-upload:hover {
            background-color: #e0e0e0;
        }

        input[type="file"] {
            display: none;
        }

    </style>
</head>
<body>
<div class="page-heading" layout:fragment="content">
    <span th:replace="fragments/header :: header (pageTitle='Thêm khách hàng mới', subtitle='Tất cả khách hàng &gt; Thêm khách hàng mới')"></span>
    <section class="section">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body" style="min-height: 550px;">
                        <form class="form" role="form" method="post" th:action="@{/add-new-customer}" th:object="${customer}" enctype="multipart/form-data">
                            <div class="card-header">
                                <p class="mb-2">Hình ảnh khách hàng</p>
                                <input type="file" class="image-preview-filepond" name="files">
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Họ và tên</label>
                                        <input th:field="*{nameCustomer}" type="text" id="first-name-column" class="form-control" placeholder="Họ và tên" name="fname-column" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">Địa chỉ Email</label>
                                        <input th:field="*{email}" type="email" id="last-name-column" class="form-control" placeholder="Email" name="lname-column" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="city-column">Ngày sinh</label>
                                        <input th:field="*{dateOfBirth}" type="date" id="city-column" class="form-control" placeholder="Ngày sinh" name="city-column" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="country-floating">CMND/CCCD</label>
                                        <input th:field="*{cccd}" type="text" id="country-floating" class="form-control" name="country-floating" placeholder="Căn cước công dân" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">Giới tính</label>
                                        <select style="height: 50px;" class="form-select" id="company-column" th:field="*{isMale}">
                                            <option th:value="null" selected>Giới Tính</option>
                                            <option th:value="TRUE">Nam</option>
                                            <option th:value="FALSE">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Quốc tịch</label>
                                        <input th:field="*{nationality}" type="text" id="email-id-column" class="form-control" name="email-id-column" placeholder="Quốc tịch" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Địa chỉ</label>
                                        <input th:field = "*{addressCustomer}" type="text" id="address-id-column" class="form-control" name="address-id-column" placeholder="Địa chỉ" style="height: 45px;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Số điện thoại</label>
                                        <input th:field="*{phoneNumber}" type="text" id="phone-id-column" class="form-control" name="address-id-column" placeholder="Số điện thoại" style="height: 45px;">
                                    </div>
                                </div>
<!--                                <div class="form-group col-12" style="margin-top: 25px;">-->
<!--                                    <div class="form-check">-->
<!--                                        <div class="checkbox">-->
<!--                                            <input type="checkbox" id="checkbox5" class="form-check-input" checked="">-->
<!--                                            <label for="checkbox5">Remember Me</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-12 d-flex justify-content-end" style="margin-top: 35px;">
                                    <a href="javascript:history.back()" type="reset" class="btn btn-light-secondary me-1 mb-1">Hủy</a>
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<script src="/compiled/js/script.js"></script>
</body>
</html>