<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th{
            color: #b3b3b8 !important;
        }

        td{
            color: black !important;
        }

        .pd{
            padding: 6px !important;
        }

        .input-style{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn-style{
            display: flex;
            align-items: center;
            margin: 0px !important;
            height: 42px;
            padding: 0 25px;
            color: white;
            background-color: #52a6f3;
        }
        .page-link{
            background-color: white !important;
            color: #52A6F3 !important;
        }

        .page-item + .page-item{
            padding-left: 5px;
        }

        .accept{
            background-color: #ECF9F3;
            border-radius: 4px;
            font-size: 14px;
            height: 28px;
            color: #6ad0a5 !important;
            justify-content: center;
        }
        .waiting{
            background-color: #fef9e9;
            border-radius: 4px;
            font-size: 14px;
            height: 28px;
            color: #f4c726 !important;
            justify-content: center;
        }
        .cancel{
            background-color: #feeff0;
            border-radius: 4px;
            font-size: 14px;
            height: 28px;
            color: red !important;
            justify-content: center;
        }
    </style>
</head>
<body>
<section class="section" layout:fragment="content">
    <div class = "col-12">
        <div class="card">
            <div class="card-header input-style">
                <div class="form-group position-relative has-icon-left">
                    <input type="text" class="form-control" placeholder="Tìm kiếm tuyến du lịch" style="width: 400px; height: 42px">
                    <div class="form-control-icon">
                        <i class="bi bi-search"></i>
                    </div>
                </div>
                <div>
                    <button class="btn btn-block btn-xl btn-outline-primary font-bold mt-3 btn-style">
                        <i class="bi bi-plus-circle" style="display: flex; padding-right: 30px;"></i>
                        Thêm tuyến du lịch mới
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-lg">
                        <thead>
                        <tr>
                            <th class="pd">STT</th>
                            <th class="pd">Tên tuyến</th>
                            <th class="pd">Mã tuyến</th>
                            <th class="pd">Khởi hành tại</th>
                            <th class="pd">Loại tuyến</th>
                            <th class="pd">Trạng thái</th>
                            <th class="pd"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    1
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Liên tuyến : Brunei - Malaysia khám phá thành phố Miri</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    TP HCM
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Nước ngoài
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center accept">
                                    Đang mở
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    2
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Liên tuyến : Brunei - Malaysia khám phá thành phố Miri</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    TP HCM
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Nước ngoài
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center accept">
                                    Đang mở
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    3
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Liên tuyến : Brunei - Malaysia khám phá thành phố Miri</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    TP HCM
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Nước ngoài
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center accept">
                                    Đang mở
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    4
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Liên tuyến : Brunei - Malaysia khám phá thành phố Miri</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    TP HCM
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Nước ngoài
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center accept">
                                    Đang mở
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    5
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Liên tuyến : Brunei - Malaysia khám phá thành phố Miri</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    TP HCM
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Nước ngoài
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center accept">
                                    Đang mở
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    6
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Thái Lan: Phuket - Đảo Phi Phi</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Hà Nội
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Trong nước
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center cancel">
                                    Đã đóng
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    7
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Thái Lan: Phuket - Đảo Phi Phi</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Hà Nội
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Trong nước
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center cancel">
                                    Đã đóng
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    8
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Thái Lan: Phuket - Đảo Phi Phi</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Hà Nội
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Trong nước
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center cancel">
                                    Đã đóng
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    9
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Thái Lan: Phuket - Đảo Phi Phi</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Hà Nội
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Trong nước
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center cancel">
                                    Đã đóng
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-1 pd">
                                <div class="d-flex align-items-center">
                                    10
                                </div>
                            </td>
                            <td class="col-4 pd" style="">
                                <div class="d-flex align-items-center">
                                    <p class="font-bold mb-0">Thái Lan: Phuket - Đảo Phi Phi</p>
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    T34532123
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Hà Nội
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center">
                                    Trong nước
                                </div>

                            </td>
                            <td class="col-auto pd">
                                <div class="d-flex align-items-center cancel">
                                    Đã đóng
                                </div>
                            </td>
                            <td class="col-auto pd">
                                <div style="color: black; cursor: pointer;">
                                    <i class="bi bi-eye" style="padding-right: 5px;"></i>
                                    <i class="bi bi-pencil" style="padding-right: 5px;"></i>
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom" style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                    ">
                    <div class="dataTable-info">
                    </div>
                    <nav class="dataTable-pagination">
                        <ul class="dataTable-pagination-list pagination pagination-primary" style="margin: 0;">
                            <li class="pager page-item">
                                <a href="#" data-page="2" class="page-link"><</a>
                            </li>
                            <li class="active page-item">
                                <a href="#" data-page="1" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="#" data-page="2" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" data-page="3" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" data-page="4" class="page-link">4</a>
                            </li>
                            <li class="pager page-item">
                                <a href="#" data-page="2" class="page-link">></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/compiled/js/script.js"></script>
</body>
</html>