<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>AdvenTour - Trang quản lý du lịch</title>
    <style>
        th{
            color: #b3b3b8;
        }
        td{
            color: black;
        }

        .input-style{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn-style{
            display: flex;
            align-items: center;
            margin: 0px !important;
            height: 42px;
            padding: 0 25px;
            color: white;
            background-color: #52a6f3;
        }
        .page-link{
            background-color: white !important;
            color: #52A6F3 !important;
        }

        .page-item + .page-item{
            padding-left: 5px;
        }
    </style>
</head>
<body>
<div class="page-heading" layout:fragment="content">
    <span th:replace="fragments/header :: header (pageTitle='Tất cả khách hàng', subtitle='Thông tin tất cả khách hàng')"></span>
    <section class="section">
    <div class = "col-12">
        <div class="card">
            <form th:action="@{/customer}">
                <div class="card-header input-style">
                    <div class="form-group position-relative has-icon-left">
                        <input type="search" name="keyword" class="form-control" placeholder="Tìm kiếm khách hàng" style="width: 400px; height: 42px" th:value="${keyword}">
                        <div class="form-control-icon">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{add-new-customer}" class="btn btn-block btn-xl btn-outline-primary font-bold mt-3 btn-style">
                            <i class="bi bi-plus-circle" style="display: flex; padding-right: 30px;"></i>
                            Thêm khách hàng mới
                        </a>
                    </div>
                </div>
            </form>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-lg">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Khách Hàng</th>
                            <th>Mã số</th>
                            <th>CMND/CCCD</th>
                            <th>Số điện thoại</th>
                            <th>Giới tính</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="customer, customerStat : ${customers}">
                                <tr>
                                    <td class="col-1">
                                        <div class="d-flex align-items-center">
                                            <span th:text="${customerStat.count}"></span>
                                        </div>
                                    </td>
                                    <td class="col-3">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img th:if="${customer.imagesCustomer != null and customer.imagesCustomer.length > 0}" th:src="'https://ztxujxoonvnlhrnacclt.supabase.co/storage/v1/object/public/' + ${customer.imagesCustomer[0]}" />
                                                <img th:unless="${customer.imagesCustomer != null and customer.imagesCustomer.length > 0}" src="https://ztxujxoonvnlhrnacclt.supabase.co/storage/v1/object/public/testBucket/avt.jpg" />
                                            </div>
                                            <p class="font-bold ms-3 mb-0" >
                                                <span th:text="${customer.nameCustomer}"></span>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="col-auto">
                                        <div class="d-flex align-items-center" >
                                            <span th:text="${customer.code}"></span>
                                        </div>
                                    </td>
                                    <td class="col-auto">
                                        <div class="d-flex align-items-center" >
                                            <span th:text="${customer.cccd}"></span>
                                        </div>
                                    </td>
                                    <td class="col-auto">
                                        <div class="d-flex align-items-center" >
                                            <span th:text="${customer.phoneNumber}"></span>
                                        </div>
                                    </td>
                                    <td class="col-auto">
                                        <div class="d-flex align-items-center">
                                            <span th:text="${customer.isMale} ? 'Nam' : 'Nữ'"></span>
                                        </div>
                                    </td>
                                    <td class="col-auto">
                                        <div style="color: black; cursor: pointer;">
                                            <a th:href="@{/customer/{id}(id=${customer.id})}"><i class="bi bi-eye" style="padding-right: 5px;"></i></a>
                                            <a th:href="@{/customer/{id}/edit(id=${customer.id})}" class="bi bi-pencil" style="padding-right: 5px;"></a>
                                            <a th:href="@{/customer/{customerId}/delete(customerId=${customer.id})}" class="bi bi-trash3"></a>
                                        </div>
                                    </td>
                                </tr>

                            </th:block>
                        </tbody>
                    </table>
                </div>
<!--                <div class="dataTable-bottom" style="-->
<!--                            display: flex;-->
<!--                            align-items: center;-->
<!--                            justify-content: space-between;-->
<!--                    ">-->
<!--                    <div class="dataTable-info">-->
<!--                    </div>-->
<!--                    <nav class="dataTable-pagination">-->
<!--                        <ul class="dataTable-pagination-list pagination pagination-primary" style="margin: 0;">-->
<!--                            <li class="pager page-item">-->
<!--                                <a href="#" data-page="2" class="page-link"><</a>-->
<!--                            </li>-->
<!--                            <li class="active page-item">-->
<!--                                <a href="#" data-page="1" class="page-link">1</a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a href="#" data-page="2" class="page-link">2</a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a href="#" data-page="3" class="page-link">3</a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a href="#" data-page="4" class="page-link">4</a>-->
<!--                            </li>-->
<!--                            <li class="pager page-item">-->
<!--                                <a href="#" data-page="2" class="page-link">></a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
</div>
<script src="/compiled/js/script.js"></script>
</body>
</html>