<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>AdvenTour - Trang quản lý du lịch</title>
    <style>

    </style>
</head>
<body>
<div class="page-heading" layout:fragment="content">
    <span th:replace="fragments/header :: header (pageTitle='Chỉnh sửa khách hàng', subtitle='Tất cả khách hàng &gt; ' + ${customer.nameCustomer})"></span>
    <section class="section">
    <div class="col-12">
        <div class = "card">
            <div class="user-menu d-flex" style="margin: 20px 30px; border-bottom: 1px solid #d5d5d5;">
                <div class="user-img d-flex align-items-center">
                    <div class="avatar avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img th:if="${customer.imagesCustomer != null and customer.imagesCustomer.length > 0}" th:src="'https://ztxujxoonvnlhrnacclt.supabase.co/storage/v1/object/public/' + ${customer.imagesCustomer[0]}" style="width: 100px;height: 100px;">
                        <!--                        <img th:unless="${customer.imagesCustomer != null and customer.imagesCustomer.length > 0" th:src="https://ztxujxoonvnlhrnacclt.supabase.co/storage/v1/object/public/testBucket/image__2_.jpg" style="width: 100px;height: 100px;">-->
                    </div>
                </div>
                <div class="user-name text-end me-3" style="display: flex;flex-direction: column;justify-content: center;">
                    <h6 th:text="${customer.nameCustomer}" class="d-flex" style="font-size: 20px; margin-bottom: 5px;">Đỗ Thị Thùy</h6>
                    <p class="text-subtitle fw-light text-muted small" style="display: flex; align-items: center; margin-bottom: 5px; font-size: 15px; color: black !important;">
                        <i class="bi bi-phone" style="display: flex; margin-right: 5px;"></i>
                        <span th:text="${customer.phoneNumber}"></span>
                    </p>
                    <p class="text-subtitle fw-light text-muted small" style="display: flex; align-items: center; font-size: 15px; color: black !important;">
                        <i class="bi bi-envelope" style="display: flex; margin-right: 5px;"></i>
                        <span th:text="${customer.email}"></span>
                    </p>
                </div>
            </div>
            <div style="display:flex; justify-content: space-between">
                <div class="col-12 col-lg-2" style="margin-left: 30px;">
                    <div class="list-group">
                        <a th:href="@{/customer/{id}(id=${customer.id})}" type="button" class="list-group-item list-group-item-action active" style="height: 50px;display: flex;align-items: center;">
                            <i class="bi bi-person" style="display: flex; margin-right: 20px;"></i>
                            Hồ Sơ
                        </a>
                        <a th:href="@{/booking/{id}(id=${customer.id})}" type="button" class="list-group-item list-group-item-action" style="height: 50px;display: flex;align-items: center;">
                            <i class="bi bi-pass" style="display: flex; margin-right: 20px;"></i>
                            Phiếu đặt chỗ
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <form class="form" role="form" th:action="@{/customer/{customerId}/edit(customerId=${customer.id})}" method="post" th:object="${customer}">
                                <input type="hidden" th:field="*{id}">
                                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="name" class="form-label">Mã khách hàng</label>
                                        <input style="border: none;" type="text" name="name" id="name" class="form-control" placeholder="Mã khách hàng" th:field="*{customerID}">
                                    </div>
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="fullname" class="form-label">Họ và tên</label>
                                        <input style="border: none;" type="text" name="email" id="fullname" class="form-control" placeholder="Họ và tên" th:field="*{nameCustomer}">
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="emailaddress" class="form-label">Địa chỉ Email</label>
                                        <input style="border: none;" type="text" name="phone" id="emailaddress" class="form-control" placeholder="Địa chỉ Email" th:field="*{email}">
                                    </div>
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="birthday" class="form-label">Ngày sinh</label>
                                        <input style="border: none;" type="text" name="birthday" id="birthday" class="form-control" placeholder="Your Birthday" th:field="*{dateOfBirth}">
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="company-column">Giới tính</label>
                                        <select style="height: 50px;" class="form-select" id="company-column" th:field="*{isMale}">
                                            <option th:value="TRUE">Nam</option>
                                            <option th:value="FALSE">Nữ</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="personID" class="form-label">CMND/CCCD</label>
                                        <input style="border: none;" type="text" name="national" id="personID" class="form-control" placeholder="CMND/CCCD" th:field="*{cccd}">
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="national" class="form-label">Quốc tịch</label>
                                        <input style="border: none;" type="text" name="national" id="national" class="form-control" placeholder="Quốc tịch" th:field="*{nationality}">
                                    </div>
                                    <div class="form-group" style="width: 45%; border-bottom: 1px solid #d8d8d8;">
                                        <label for="telephone" class="form-label">Số điện thoại</label>
                                        <input style=" border: none;" type="text" name="national" id="telephone" class="form-control" placeholder="Số điện thoại" th:field="*{phoneNumber}">
                                    </div>
                                </div>
                                <div class="form-group" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 40px;">
                                    <label for="address" class="form-label">Địa chỉ</label>
                                    <input style="border: none;" type="text" name="national" id="address" class="form-control" placeholder="Địa chỉ" th:field="*{addressCustomer}">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<script src="/compiled/js/script.js"></script>
</body>
</html>