<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .image-card{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #dedede;
        }
    </style>
</head>
<body>
<section class="section" layout:fragment="content">
    <div class="col-12">
        <div class="card">
            <div class="image-card">
                <div class="user-img d-flex align-items-center">
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                </div>
            </div>
            <div class="place-info">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label>Tên địa điểm</label>
                                            <p class="fw-light" style="color: black;" th:text="${place.nameLocation}"></p>
                                        </div>
                                    </div>
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <p class="fw-light" style="color: black;" th:text="${place.address}"></p>
                                        </div>
                                    </div>
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label>Mô tả</label>
                                            <p class="fw-light" style="color: black;" th:text="${place.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/compiled/js/script.js"></script>
</body>
</html>