<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .image-card{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #dedede;
        }
    </style>
</head>
<body>
<section class="section" layout:fragment="content">
    <div class="col-12">
        <div class="card">
            <div class="image-card">
                <div class="user-img d-flex align-items-center">
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                    <div class="avatar-md" style="border-radius: 0%; width: 100px; height: 100px; margin-right: 20px; margin-bottom: 20px;">
                        <img src="/compiled/jpg/travel1.jpg" style="width: 100px;height: 100px;">
                    </div>
                </div>
            </div>
            <div class="place-info">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label for="first-name-vertical">Tên địa điểm</label>
                                            <input style="color:black;border: none;padding-left: 0px;height: 50px;border-bottom: 1px solid #e1e1e1;border-radius: 0px;" type="text" id="first-name-vertical" class="form-control" name="fname" value="Disneyland HongKong">
                                        </div>
                                    </div>
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label for="email-id-vertical">Địa chỉ</label>
                                            <input style="color:black;border: none;padding-left: 0px;height: 50px;border-bottom: 1px solid #e1e1e1;border-radius: 0px;" type="email" id="email-id-vertical" class="form-control" name="email-id" value="Lantau Island, Hong Kong">
                                        </div>
                                    </div>
                                    <div class="col-12" style="color: #a3a2a7;">
                                        <div class="form-group">
                                            <label for="password-vertical">Mô tả</label>
                                            <textarea style="height:105px; border: none;padding-left: 0px;border-bottom: 1px solid #e1e1e1;border-radius: 0px;" id="password-vertical" class="form-control" placeholder="Hong Kong Disneyland là một công viên chủ đề nằm trong khu Hong Kong Disneyland Resort thuộc sở hữu và quản lý của Hong Kong International Theme Parks. Hong Kong Disneyland là công viên giải trí chủ đề theo phong cách Xứ sở thần tiên thứ năm, tọa lạc trên một khu đất lấn biển trên vịnh Penny, đảo Lantau."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/compiled/js/script.js"></script>
</body>
</html>