<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>AdvenTour - Trang quản lý du lịch</title>
    <style>
        .custom-btn{
            border: none;
            background-color: white;
            margin-right:20px;
        }

        .active{
            color: #52a6f3;
            border-bottom: 4px solid #52a6f3;
        }
        .border-style{
            height: 60px;
            padding-left: 16px;
            border-left: 4px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right bottom, #abd4f9, #0085ff);
        }

        .place-content{
            margin-left: 25px;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        }

        .convenience{
            display: flex;
            margin-top: 15px;
            margin-bottom: 20px;
            margin-left: 25px;
            justify-content: space-between;
            align-items: center;
        }

        .func-btn{
            background-color: #52a6f3;
            color: white;
            font-size: 14px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border-radius: 5px;
            padding: 0px 8px;
        }

        .day-element{
            width: 100%;
            margin-left: 15px;
            font-size: 14px;
            margin-top: 10px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .add-btn{
            margin-right: 20px;
            font-size: 14px;
            color: #93c8f8;
            cursor: pointer;
        }

        .setting-icon{
           display: flex;
           margin-right: 10px;
           cursor: pointer;
        }
    </style>
</head>
<body>
<section class="section" layout:fragment="content">
    <div class="col-12">
        <div class="card" style="margin: 0 25px;">
            <div class="menu-element" style="display:flex; margin-top: 5px; margin-left: 20px; margin-right:20px; border-bottom: 1px solid #e2e2e5;">
                <button type="button" class=" custom-btn " style="height: 50px;display: flex;align-items: center;">
                    <i class="bi bi-pencil" style="display: flex; margin-right: 10px;"></i>
                    Thông tin tuyến
                </button>
                <button type="button" class="custom-btn active" style="height: 50px;display: flex;align-items: center;">
                    <i class="bi bi-map" style="display: flex; margin-right: 10px;"></i>
                    Chi tiết lịch trình
                </button>
            </div>


            <div class="row" style="margin-top: 30px; margin-left: 15px; margin-right: 15px;">
                <div class="col-4">
                    <div class = "card" style="border: 1px solid #e8e8ea; display:flex; align-items: center;">
                        <div class="day-element">
                            <div style="display: flex; align-items: center;">
                                <i class="bi bi-circle-fill" style="display: flex; align-items: center; font-size:10px; color:#3fc28a; "></i>
                                Ngày 1
                            </div>
                            <div class="add-btn">
                                Thêm
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class = "card" style="border: 1px solid #e8e8ea; display:flex; align-items: center;">
                        <div class="day-element">
                            <div style="display: flex; align-items: center;">
                                <i class="bi bi-circle-fill" style="display: flex; align-items: center; font-size:10px; color:#3fc28a; "></i>
                                Ngày 2
                            </div>
                            <div class="add-btn">
                                Thêm
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class = "card" style="border: 1px solid #e8e8ea; display:flex; align-items: center;">
                        <div class="day-element">
                            <div style="display: flex; align-items: center;">
                                <i class="bi bi-circle-fill" style="display: flex; align-items: center; font-size:10px; color:#3fc28a; "></i>
                                Ngày 3
                            </div>
                            <div class="add-btn">
                                Thêm
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "card col-10" style="color: black; background-color: #f6f6f6; font-size: 14px; margin-top: 20px;">
                            <div class = "place-content border-style">
                                <div>
                                    <div class = "info-place">
                                        Sân bay Tân Sơn Nhất
                                    </div>
                                    <span style="font-size: 12px; color: #bcbbc1;">
                                        Đến
                                    </span>
                                    <div class = "info-place">
                                        Sân bay Đà Nẵng
                                    </div>
                                </div>
                                <div class="setting-icon">
                                    <i class="bi bi-pencil-square" style="display: flex; align-items: center;"></i>
                                    <i class="bi bi-trash" style="display: flex; align-items: center;"></i>
                                </div>
                            </div>
                            <div class="convenience">
                                <i class="bi bi-truck" style="display: flex; align-items: center; font-size:20px;"></i>
                                <div style="display: flex;">
                                    <div class="func-btn">
                                        Máy bay
                                    </div>
                                    <div class="func-btn">
                                        Xe trung chuyển
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>